:host {
    width: 100%;
    display: flex;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 16px;
    /* padding: 15% 0; */
    cursor: pointer;
    width: 120px;
    height: 100px;
    margin: 10px auto;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
  }

  .card-container h3{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
  }

  .card-container p{
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 400;
    color: orange;
  }
  
  .white p{
    color:black;
  }

  .black{
    background:rgba(0, 0, 0, 0.5);
    color:white;
  }

  .white{
    background:white;
    color:black;
  }
  